footer {
  left: 0;
  bottom: 0;
  background-color: #222629;
  width: 100%;
  padding: 40px;
  text-align: center;
}

button {
  border: 2px solid #F0F0F0;
  border-radius: 25px;
  background-color: #222629;
  width: 120px;
  height: 50px;
  padding: 12px;
  color: #F0F0F0;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Poppins';
  transition: 200ms ease-in-out;
}

button:hover {
  transform: scale(1.05);
  background-color: #F0F0F0;
  color: #222629;
  cursor: pointer;
}

button:active {
  filter: brightness(80%);
}