div.mapcontainer {
  width: 60vw;
  height: 60vh;

  filter: drop-shadow(2px 0 0 #70B4D4) 
        drop-shadow(0 2px 0 #70B4D4)
        drop-shadow(-2px 0 0 #70B4D4) 
        drop-shadow(0 -2px 0 #70B4D4);
}